@model Webapp.Models.Movies.Movie

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Budget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Homepage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Homepage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Overview)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Overview)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Popularity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Popularity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Revenue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Revenue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Runtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Runtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tagline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tagline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoteAverage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoteAverage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoteCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoteCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MovieId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
